<!doctype html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
</head>
<body id="kt_body" class="bg-body">
<div class="d-flex flex-column flex-root">
    <%- body %>
</div>
<%- include('../partials/scripts') %>
</body>
</html>